<section id="best-selling" class="py-5 my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="section-header align-center">
                    <div class="title">
                        <span>Some quality items</span>
                    </div>
                    <h2 class="section-title">Best Selling Books</h2>
                </div>
            </div>
        </div>
        <app-products></app-products>
        <div class="row">
            <div class="col-md-12">
                <div class="btn-wrap align-right">
                    <a href="#" class="btn-accent-arrow">View all products <i class="icon icon-ns-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>